<!-- templates/includes/sidenav/sidenav_penro.html -->
<aside class="sidenav">
  <div class="sidenav__header">
    <div class="avatar">PR</div>
    <div class="title">PENRO</div>
  </div>
  <ul class="sidenav__menu">
    <li><a href="{% url 'PENRO-dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'PENRO-activitylogs' %}">Activity Logs</a></li>
    <li><a href="{% url 'PENRO-reports' %}">Reports</a></li>
    <li><a href="{% url 'PENRO-usermanagement' %}">User Management</a></li>
    <li><a href="{% url 'PENRO-profile' %}">Profile</a></li>

  </ul>
  <div class="sidenav__footer">
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</aside>









